/* Reset some default styles for a cleaner layout */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

/* Main content styling */
main {
    padding: 2rem;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 4rem 0;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
}


.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}


.weather-details h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.weather-details p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* form */
h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {  
    padding: 12px;
    margin: 10px;
    
}
/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    font-size: 1rem;
}

#icon img {
    max-width: 100px;
}


/* GLOBAL STYLES */
/* body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  } */
  
  /* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:white; }
}